.aitvbulletin-auth-image { position: absolute !important; top: -10px !important; left: -10px !important; width: 1px !important; height: 1px !important; }
.aitvbulletin-auth-image img { width: 1px !important; height: 1px !important; border: 0 !important; }
