fieldset#aitvbulletin_forum div.comment { float: right; padding-left: 10px; width: 330px; }
fieldset#aitvbulletin_forum div.comment .fieldset { background-color: #ddd; }
fieldset#aitvbulletin_forum div.comment .news .item h2 { font-size: 120%; margin-top: 0.5em; }
fieldset#aitvbulletin_forum div.comment .news .item h3 { font-size: 110%; margin-top: 0.5em; color: #EA7601; }
fieldset#aitvbulletin_forum div.comment .news .item ul { list-style-type: square; list-style-position: inside; }

td#aitoc_news { padding-left: 10px; width: 330px; }
td#aitoc_news .fieldset { background-color: #ddd; }
td#aitoc_news .news .item h2 { font-size: 120%; margin-top: 0.5em; }
td#aitoc_news .news .item h3 { font-size: 110%; margin-top: 0.5em; color: #EA7601; }
td#aitoc_news .news .item ul { list-style-type: square; list-style-position: inside; }
